.controls{
    display: flex;
    gap: 4rem;
    .control{
        position: relative;
        border-radius: 10px;
        font-size: 4rem;
        overflow: hidden;
        padding: 20px 30px;
        line-height: 100%;
        border-radius: 16px;
        position: relative;
        font-weight: 700;
        box-shadow:  10px 10px 30px #00000023,
                    -10px -10px 30px #ffffff0c;
        border: 7px ridge #00000023;
        &::before{
            background: linear-gradient(145deg,  #00000015, #ffffff05);
            content: "";
            position: absolute;
            inset: 0;
        }
    }
}