.home{
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .inner{
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
        position: relative;
        justify-content: center;
    }
}