@font-face {
    font-family: "arab";
    src: url("../fonts/Arab.ttf") format("truetype");
}

@font-face {
    font-family: "body-light";
    src: url("../fonts/Ogg-Light.otf") format("opentype");
}

@font-face {
    font-family: "body-medium";
    src: url("../fonts/Ogg-Medium.otf") format("opentype");
}

@font-face {
    font-family: "body-bold";
    src: url("../fonts/Ogg.otf") format("opentype");
}


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: body-medium;
}

.text {
    background: linear-gradient(90deg, #daa14c 0%, #e0c871 46%, #af751e 100%);
    color: transparent;
    filter: drop-shadow(0.02em 0.02em 0.02em #012519);
    background-clip: text;
    line-height: 100%;

    &.no-shine {
        color: white;
        background: transparent;
        background-clip: unset;
    }
}

.light {
    font-family: body-light;
}

.medium {
    font-family: body-medium;
}

.bold {
    font-family: body-bold;
}

.arabic {
    font-family: arab;
}

.engraved-box {
    box-shadow: 10px 10px 30px #00000023,
        -10px -10px 30px #ffffff0c;
    border: 7px ridge #00000023;
    border-radius: 16px;
    padding: 16px;
    position: relative;
    &::before{
        background: linear-gradient(145deg,  #00000023, #ffffff05);
        content: "";
        position: absolute;
        inset: 0;
        user-select: none;
        pointer-events: none;
    }
}
.bg{
    position: relative;
    &::before{
        background: linear-gradient(145deg,  #00000023, #ffffff05);
        content: "";
        position: absolute;
        inset: 0;
        user-select: none;
        pointer-events: none;
    }
}

@import "./home";
@import "./controls";
@import "./display";